#header {
  color: #fff;
}
.round {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.m h1 {
  color: #fff;
}
.m p {
  font-size: 12px;
}
.m p a {
  border: none;
}
.class {
  color: #a2a2a2;
  display: block;
}
.class1 {
  background-color: black;
  color: #ddd;
  color: #fff;
}
#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 200px;
}
#header .logo:hover {
  text-decoration: none;
}
#bundle .tab {
  border: 1px solid black;
}
#bundle .citation {
  border: 5px solid black;
}
#header a {
  color: orange;
  display: block;
  border: 1px solid black;
  background-color: grey;
}
#header a:hover {
  background-color: white;
}
.ll {
  backfround-image: url("http://img/images/bg.png");
}
