/*==============page:pay_complete======================*/
/*==head==*/
.page{
	font-size: 0.27rem;
}
.wrap{
	padding: 0.6rem 0 0.5rem 0.3rem;
}
.wrap .head{
	height: 1.1rem;
	padding-bottom: 0.5rem;
}

.wrap .head figure{
	position: absolute;
	width: 1.1rem;
	height: 1.1rem;
}
.wrap .head figure img{max-width: 100%;}
.wrap .head div{height:1.1rem; margin-left: 1.45rem; position: relative;overflow: hidden; padding-right: 0.3rem;}
.wrap .head div p{position: relative; line-height: 0.4rem;}
.wrap .head div p span{color:#08d517;}

/*==article==*/
.wrap .patient_profile{
	margin-top: 0.5rem;
	font-size: 0.3rem;
	position: relative;
}

.wrap .patient_profile ::-webkit-input-placeholder{
	font-size: 0.24rem;
	color: #c1c1c1;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.wrap .patient_profile:before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.3rem;
    width: 0.06rem;
    height: 0.26rem;
    background-color: #1d75f0;
}

.wrap .patient_profile>p{height: 0.55rem;}
.wrap .profile_detail{
	list-style: none;
}
.wrap .profile_detail li{
	height: 0.8rem; 
	line-height: 0.8rem;
}
.wrap .profile_detail li>label{
	font-size: 0.27rem;	
	width: 1.3rem;
	position: absolute;
	display: inline-block;
}

.wrap .profile_detail li input{
	outline:none;
	font-size: 0.24rem;
	border:1px solid rgba(0,0,0,0);
	width: 4rem;
	height: 0.5rem;
	margin-left: 1.5rem;
	padding-left: 0.1rem;
	-webkit-transition: box-shadow 0.30s ease-in-out;
	transition: box-shadow 0.30s ease-in-out;
}
.wrap .profile_detail li input:focus{
	border:1px solid #87C6F9;
	box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}
.wrap .profile_detail .profile_allergy input,
.wrap .profile_detail .profile_sex input{
	display: none;
}

.wrap .profile_detail .profile_allergy p,
.wrap .profile_detail .profile_sex p{
	padding-left: 1.6rem;
}

.wrap .profile_detail .profile_allergy p label,
.wrap .profile_detail .profile_sex p label{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 1.46rem;
	height: 0.6rem;
	margin:0.1rem 0.2rem 0.2rem 0;
	line-height: 0.6rem;
	font-size: 0.24rem; 
	color: #a5a5a5;
	border: 1px solid currentColor;
	border-radius: 0.06rem;
	-webkit-tap-highlight-color:rgba(0,0,0,0);	
}
.wrap .profile_detail input{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.wrap .profile_detail input[type="date"]{
	position: relative;
	outline: none;
	-webkit-appearance: none;
	background-color: transparent;
}

::-webkit-date-edit-fields-wrapper { background-color: transparent; }

.wrap .profile_detail .bd_placeholder{
	position: absolute;
	font-size: 0.24rem;
	width: 4rem;
	height: 100%;
	color: #c1c1c1;
	margin-left: 1.5rem;
	padding-left: 0.1rem;
	z-index: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.wrap .profile_detail input.unactive{
	display: none;
}
.wrap .profile_detail .profile_allergy p input:checked+label,
.wrap .profile_detail .profile_sex p input:checked+label{
	background-color: #e8f1fd;
	color: #1d75f0;
}
.wrap .profile_detail .profile_allergy p input:checked+label:before,
.wrap .profile_detail .profile_sex p input:checked+label:before{
	content: '';
    position: absolute;
    color: #428bef;
    background-color: currentColor;
    border-left: 18px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 14px solid currentcolor;
    background: transparent;
    bottom: 0;
    right: 0;
}
.wrap .profile_detail .profile_allergy p input:checked+label:after,
.wrap .profile_detail .profile_sex p input:checked+label:after{
	content: '';
    position: absolute;
    bottom: 4px;
    right: 1px;
    width: 6px;
    height: 3px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.wrap .profile_detail .profile_allergy p label span,
.wrap .profile_detail .profile_sex p label span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	margin: auto;
}


.wrap .profile_detail .profile_sex p label i{
    position: relative;
    display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border:2px solid currentColor;
	transform:scale(0.7);
	-webkit-transform:scale(0.7);
}
.wrap .profile_detail .profile_sex p label[for="male"] i:before{
	content: '';
	position: absolute;
    width: 6px;
    height: 2px;
    background-color: currentColor;
    top: 9px;
    left: -5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.wrap .profile_detail .profile_sex p label[for="male"] i:after{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	top: 7px;
	left: -6px;
	border-left: 2px solid currentColor;
	border-bottom: 2px solid currentColor;
}
.wrap .profile_detail .profile_sex p label[for="female"] i:before{
	content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: currentColor;
	top: 9px;
    left: -6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);    
	transform-origin: 50% 0; 
	-webkit-transform-origin: 50% 0; 
}
.wrap .profile_detail .profile_sex p label[for="female"] i:after{
	content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: currentColor;
    top: 9px;
    left: -5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);    
	transform-origin: 50% 0; 
	-webkit-transform-origin: 50% 0; 		  
}

.wrap .p_selected{
	margin-top: 0.6rem;
	font-size: 0.24rem;
    color: #9c9c9c;
    line-height: 0.5rem;	
}
.wrap .p_selected span{
	color: #1d75f0;
}
.sub_tip{
	margin-top: 0.3rem;
	font-size: 0.24rem;
	color: #9c9c9c;
	line-height: 0.5rem;
}

.fixedBtn{
	margin-top: 0.1rem;
    padding-right: 0.3rem;
    box-sizing: border-box;	
}
