 @charset "UTF-8";
 html,body {
 	padding: 0;
 	margin: 0;
 	font-family: "微软雅黑";
 	font-size: 14px;
}
.img-wrp {
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.img-wrp img {
	width:100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}
.two1 {
	-webkit-clip-path: polygon(0 0,66.67% 0,33.33% 100%,0 100%);
	clip-path: polygon(0 0,66.67% 0,33.33% 100%,0 100%);
}
.two2 {
	-webkit-clip-path: polygon(66.67% 0,33.33% 100%,100% 100%,100% 0);
	clip-path: polygon(66.67% 0,33.33% 100%,100% 100%,100% 0);
}
/* .three1 {
	-webkit-clip-path: polygon(0 0,66.67% 0,66.67% 100%,0 100%);
	clip-path: polygon(0 0,66.67% 0,66.67% 100%,0 100%);
}
.three2 {
	-webkit-clip-path: polygon(66.67% 0,66.67% 50%,100% 50%,100% 0);
	clip-path: polygon(66.67% 0,66.67% 50%,100% 50%,100% 0);
}
.three3 {
	-webkit-clip-path: polygon(66.67% 50%,66.67% 100%,100% 100%,100% 50%);
	clip-path: polygon(66.67% 50%,66.67% 100%,100% 100%,100% 50%);
}
.four1 {
	-webkit-clip-path: polygon(0 0,50% 0,50% 50%,0 50%);
	clip-path: polygon(0 0,50% 0,50% 50%,0 50%);
}
.four2 {
	-webkit-clip-path: polygon(50% 50%,0 50%,0 100%,50% 100%);
	clip-path: polygon(50% 50%,0 50%,0 100%,50% 100%);
}
.four3 {
	-webkit-clip-path: polygon(50% 0,50% 50%,100% 50%,100% 0);
	clip-path: polygon(50% 0,50% 50%,100% 50%,100% 0);
}
.four4 {
	-webkit-clip-path: polygon(50% 50%,50% 100%,100% 100%,100% 50%);
	clip-path: polygon(50% 50%,50% 100%,100% 100%,100% 50%);
}
.five1 {
	-webkit-clip-path: polygon(0 0,66.67% 0,66.67% 66.67%,0 66.67%);
	clip-path: polygon(0 0,66.67% 0,66.67% 66.67%,0 66.67%);
}
.five2 {
	-webkit-clip-path: polygon(66.67% 0,66.67% 33.34%,100% 33.34%,100% 0);
	clip-path: polygon(66.67% 0,66.67% 33.34%,100% 33.34%,100% 0);
}
.five3 {
	-webkit-clip-path: polygon(33.34% 66.67%,0% 66.67%,0% 100%, 33.34% 100%);
	clip-path: polygon(33.34% 66.67%,0% 66.67%,0% 100%, 33.34% 100%);
}
.five4 {
	-webkit-clip-path: polygon(33.34% 100%,33.34% 66.67%,66.67% 66.67%,66.67% 100%);
	clip-path: polygon(33.34% 100%,33.34% 66.67%,66.67% 66.67%,66.67% 100%);
}
.five5 {
	-webkit-clip-path: polygon(66.67% 100%,66.67% 33.34%,100% 33.34%,100% 100%);
	clip-path: polygon(66.67% 100%,66.67% 33.34%,100% 33.34%,100% 100%);
}
.six1 {
	-webkit-clip-path: polygon(0 0,66.67% 0,66.67% 66.67%,0 66.67%);
	clip-path: polygon(0 0,66.67% 0,66.67% 66.67%,0 66.67%);
}
.six2 {
	-webkit-clip-path: polygon(66.67% 0,100% 0,100% 33.33%,66.67% 33.33%);
	clip-path: polygon(66.67% 0,100% 0,100% 33.33%,66.67% 33.33%);
}
.six3 {
	-webkit-clip-path: polygon(66.67% 33.33%,66.67% 66.67%,100% 66.67%,100% 33.33%);
	clip-path: polygon(66.67% 33.33%,66.67% 66.67%,100% 66.67%,100% 33.33%);
}
.six4 {
	-webkit-clip-path: polygon(0 66.67%,33.33% 66.67%,33.33% 100%,0 100%);
	clip-path: polygon(0 66.67%,33.33% 66.67%,33.33% 100%,0 100%);
}
.six5 {
	-webkit-clip-path: polygon(33.33% 66.67%,33.33% 100%,66.67% 100%,66.67% 66.67%);
	clip-path: polygon(33.33% 66.67%,33.33% 100%,66.67% 100%,66.67% 66.67%);
}
.six6 {
	-webkit-clip-path: polygon(66.67% 100%,66.67% 66.67%,100% 66.67%,100% 100%);
	clip-path: polygon(66.67% 100%,66.67% 66.67%,100% 66.67%,100% 100%);
} */
.three1 {
	top: 0;
	left: 0;
}
.three2 {
	top: 0;
	right: 0;
}
.three3 {
	right: 0;
	bottom: 0;
}
.four1 {
	top: 0;
	left: 0;
}
.four2 {
	top: 0;
	right: 0;
}
.four3 {
	bottom: 0;
	right: 0;
}
.four4 {
	bottom: 0;
	left: 0;
}
.five1 {
	top: 0;
	left: 0;
}
.five2 {
	top: 0;
	right: 0;
}
.five3 {
	bottom: 0;
	right: 0;
}
.five4 {
	left: 0;
	bottom: 0;
}
.five5 {
	left: 33.33%;
	bottom: 0;
}
.six1 {
	top: 0;
	left: 0;
}
.six2 {
	top: 0;
	right: 0;
}
.six3 {
	bottom: 0;
	right: 0;
}
.six4 {
	left: 0;
	bottom: 0;
}
.six5 {
	left: 33.33%;
	bottom: 0;
}
.six6 {
	top: 33.33%;
	right: 0;
}