<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>医生主页</title>
		<link href="css/suffer-style.css" rel="stylesheet" type="text/css" />
		<script src="js/font-adjust.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/hammer.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-touch.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="page" class="page greybg" v-cloak>
			<!-- banner -->
			<section v-if='avatar_mode' class="team-banner doctor-banner2">
	            <div class="head-icon">
	                <img src="http://s.pc.qq.com/byb/gBe0AVKTV27NV6dTPHs-vBHAHfSkWvlg5rS82VeMYXZZMDwCw7ea2C3I_ztQvNd8.png" v-touch:tap="edit" alt="医生个人的照片">
	            </div>
	            <h1 id="name" v-touch:tap="edit">{{ name }}<span class="dctlist-authen"></span></h1>
	            <p id="hospital" v-touch:tap="edit">{{ hospital }} {{title}}</p>
	            <p id="working_age" v-touch:tap="edit">从医{{ working_age }}年</p>
	            <div id="switch" v-touch:tap="switch" class="switch-button"><span class="icon-switch"></span>切换大图模式</div>
	        </section>
			<!-- icon -->
	        <section v-else class="doctor-banner">
				<img src="http://s.pc.qq.com/byb/A4URuAevRmbn-DOBLJ3YIxcROl-RxrcbG_GYw8Zr61T3zooy7ox4oVrakiF6c7kX.jpg?d=20160715" v-touch:tap="edit" alt="医生个人的照片">
				<div class="intro">
					<h2 id="name" v-touch:tap="edit">{{ name }}<span class="dctlist-authen"></span></h2>
					<p id="hospital" v-touch:tap="edit">{{ hospital }}&nbsp;&nbsp;{{title}}</p>
					<p id="working_age" v-touch:tap="edit">从医{{ working_age }}年</p>
				</div>
				<div id="switch" v-touch:tap="switch" class="switch-button"><span class="icon-switch"></span>切换小图模式</div>
			</section>

			<!-- doctor tag introduce -->
			<section id="tags" v-touch:tap="edit" class="team-section doctor-tag">
				<div class="tag doctor-heightclr">
					<div class="icon-addwrp"><span class="t-edit"><a href="javascript:void(0);"><span class="icon-edit"></span></a></span></div>
					<ul class="team-clear">
						<li v-for="tag in tags">{{ tag }}</li>
					</ul>
					<ul style="display:none;">
						<li>请设置病种</li>
					</ul>
				</div>
			</section>
			<!-- doctor skill -->
			<section id="expert_at" v-touch:tap="edit" class="doctor-section doctor-skill">
				<h3>
					<span class="t-skill"></span>
					<span class="title">擅长</span>
					<span class="t-edit"><a href="javascript:void(0);"><span class="icon-edit"></span></a></span>
				</h3>
				<p>{{ expert_at }}</p>
				<h3 class="edit-info edit-info-text" style="display:none;">包含擅长的疾病及治疗方法等</h3>
			</section>
			<!-- doctor detail-->
			<section id="introduction" v-touch:tap="edit" class="doctor-section doctor-detail">
				<h3>
					<span class="t-intro"></span>
					<span class="title">简介</span>
					<span class="t-edit"><a href="javascript:void(0);"><span class="icon-edit"></span></a></span>
				</h3>
				<p>{{ introduction }}</p>
				<h3 class="edit-info edit-info-text" style="display:none;">包含学历信息，学术信息、获奖荣誉信息等</h3>
			</section>
			<!--  doctor experience-->
			<section id="history" v-touch:tap="edit" class="doctor-section">
				<h3>
					<span class="t-career"></span>
					<span class="title">执业机构</span>
					<span class="t-edit"><a href="javascript:void(0);"><span class="icon-edit"></span></a></span>
				</h3>
				<div class="career-wrpr">
					<ul class="career" >
						<li v-for="item in history">
							<p>{{item.hospital}} / {{item.title}}</p>
						</li>
					</ul>
				</div>
				<h3 class="edit-info edit-info-text" style="display:none;">请填写现任职及历史任职信息</h3>
			</section>
			<!-- doctor code to scan -->
			<section class="doctor-section">
				<div class="footer">
					<img v-bind:src="qrcode" alt="二维码">
					<p>扫码关注我</p>
				</div>
			</section>
			<!-- tx-logo -->
			<footer class="tx-footer">
				<div class="tx-logo1"></div>
			</footer>
		</div>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>