.wrap{
  width:500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 400px;
  height: 200px;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}
.circle1, .circle2{
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background-color: #fc0;
  position: relative;
}
.circle1{
  left:-50px;
  top: -50px;
}
.circle2{
  left:350px;
  bottom: -50px;
}
