.tab-box{
	padding:25px 30px;
	border-bottom: 1px solid #ebebeb;
}
.tab-btn{
	width: 150px;text-align: center;
	color: #969696;
	display: inline-block;
	border: 1px solid #ebebeb;
	line-height: 35px;
}
.tab-btn:first-child{
	border-radius: 4px 0 0 4px;
}
.tab-btn:last-child{
	border-radius: 0 4px 4px 0;
}
.tab-btn + .tab-btn{
	border-left: none;
	margin-left: -4px;
}
.tab-btn.active{
	border:1px solid #428bef;
	color: #fff;
	background: #428bef;
}
.tab-panel{
	display: none;
}
.tab-panel.active{
	display: block;
}
.tab-footer{
	margin: 20px 0 20px 30px;
}
.tab-desc{
	color: #969696;
}
.edit-box{
	border: 1px solid #ccc;
	height: 554px;
	margin: 0 30px 25px 30px;
	position: relative;
}
.tab-desc{
	padding: 20px 30px;
}
.edit-btn{
	border-bottom: 1px solid #ccc;
	height: 53px;
	line-height: 53px;
}
.edit-bottom{
	border-top: 1px solid #ccc;
	height: 53px;
	line-height: 53px;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 17px;
	
}
.edit-content{
	position: relative;

}
.edit-content textarea{
	width: 100%;
	height: 446px;
	max-height: 446px;
	min-height: 446px;
	padding: 8px;
}
.edit-content .mask{

}
.edit-box .word-left{
	float: right;
}
.edit-box .word-left .w-red{
	color: #fe2727;
}
.edit-box .emotion{
	display: inline-block;width: 26px;height: 54px;
	background: url(../images/icon-face.png) 0 center no-repeat;
}
.main-btn{
	width: 130px;
	background: #428bef;
	text-align: center;
	color: #fff;
	line-height: 42px;
	display: inline-block;
	border-radius: 4px;
}
.main-btn:hover{
	color: #fff;
}

.edit-btn .icon{
	margin: 0 5px 0 21px;
	padding-left: 23px;
	display: inline-block;
	line-height: 18px;
	vertical-align: middle;
	color: #000;
}
.edit-btn .icon.active{
	color: #428bef;
}
.icon-text{
	background: url(../images/icon-text.png) 0 center no-repeat;
}
.icon-text.active{
	background: url(../images/icon-text-active.png) 0 center no-repeat;
}
.icon-img{
	background: url(../images/icon-img.png) 0 center no-repeat;
}
.icon-img.active{
	background: url(../images/icon-img-active.png) 0 center no-repeat;
}
