@CHARSET "UTF-8";
html, body, div, p, h1, h2, h3, h4, h5, h6, span, table, tr, td, select, option, input, dd, dl, dt, ul, li, label {margin: 0;padding: 0;font-family: "微软雅黑";font-size: 14px;}
a, a:focus {outline: none;hide-focus: expression(this.hideFocus = true);text-decoration: none;}
a:hover {text-decoration: none;}
input, select, option, textarea {outline: none;background: transparent;border: none;}
.button {background: #428bef;border-radius: 5px;text-align: center;color: #FFF;font-size: 18px;}
.button:hover {color: #FFF;}body {background-color: #eeeeee;}
.clear {clear: both;}/* pages */
.pages {overflow: hidden;*overflow: visible;width: 330px;float: right;margin-right: 44px;}
.pages li {float: left;list-style: none;}
.pages .page-number {color: #9c9c9c;font-size: 16px;line-height: 30px;padding: 0 14px 0 14px;}
.pages .previous, .pages .next {height: 30px;width: 30px;}
.pages .previous a {background-image: url("../images/pages.png");background-position: 0 0;}
.pages .next a {background-image: url("../images/pages.png");background-position: -30px 0;}
.pages .go-input, .pages .go-input input {width: 70px;height: 30px;}
.pages .go-input {margin-left: 20px;*margin-left: 10px;}
.pages .go-input input {background-image: url("../images/pages.png");background-position: -60px 0;text-align: center;vertical-align: middle;line-height: 30px;}
.pages .go-button {margin-left: 20px;width: 60px;height: 30px;}
.pages .go-button a {background-image: url("../images/pages.png");background-position: -130px 0;}
.pages li a {display: block;width: 100%;height: 100%;}/* rewrite bootstrap */
.container-fluid {padding-right: 0;padding-left: 0;}/* layout/layout.phtml header */
.header {width: 100%;background-color: #FFF;}
.header .header-content, .main .main-content, .footer .footer-content {width: 1190px;margin: 0 auto;overflow: hidden;}
.header .header-content .logo {background: #FFF url("http://s.pc.qq.com/byb/KSk8cfbkYccLWbab4ZS2YVgVE7IgpOJaYPBYABO99WCC6_vix-x5UHwFA9Sql0O8.png");width: 290px;}
.header .header-content .logo a {display: block;height: 100%;width: 100%;}
.header .header-content .mp-info {width: 900px;}
.header .header-content .mp-info .mp {float: right;/*overflow: hidden;*/}
.header .header-content .mp-info .mp .mp-logo {width: 48px;height: 48px;border: solid 1px #dadada;border-radius: 3px;margin-top: 15px;float: left;}
.header .header-content .mp-info .mp .mp-logo img {width: 48px;height: 48px;}
.header .header-content .mp-info .mp .mp-name, .header .header-content .mp-info .mp .logout {float: left;margin-left: 16px;margin-top: 29px;white-space: nowrap;}
.header .header-content .mp-info .mp .scan-download {float: left;width: 96px;height: 80px;line-height: 80px;position: relative;margin-right: 30px;}
.header .header-content .mp-info .mp .scan-download:hover {background-color: #f4f4f5;}
.header .header-content .mp-info .mp .scan-download span {position: absolute;}
.header .header-content .mp-info .mp .scan-download p{color: #0d0e10;padding-left: 40px;}
.header .header-content .mp-info .mp .scan-download .icon {background: url("http://s.pc.qq.com/byb/F9iHq9DD7MkbiaOc2tksNhF3SwrXl-DdNMRvvQJMcEigT5CRwCBsP31EMKGnBnbe.png") no-repeat;width: 16px;height: 22px;position: absolute;top: 30px;left: 14px;}
.download-layer {height: 384px;width: 286px;position: absolute;z-index:999;background:url("http://s.pc.qq.com/byb/ApiH7LikTpXzUyF-8EOF8SeFIaXxt6BBQPc6m6OJmeCMQxejGwR2q5DVNns1Wbtf.png") no-repeat;background-size: 100%;top: 50px;left: 0;display: none;}
.download-layer .qrcode {width: 230px;/*height: 200px;*/margin: 0 auto;padding-top: 32px;}
.download-layer .qrcode img {width: 100%;height: 100%;}
.download-layer .fline{padding-top: 32px;}
.download-layer .fline p {text-align: center;color: #0d0e10;font-size: 16px;}
.header .header-content .logo, .header .header-content .mp-info,.my-cover-contentc .my-warning {float: left;}
.header, .header .header-content, .header .header-content .logo, .header .header-content .mp-info {height: 80px;}/* layout/layout.phtml footer */
.footer .copyright, .footer .links {padding-top: 26px;}
.footer .copyright {float: left;}
.footer .copyright p, .footer .links ul li a {color: #9c9c9c;text-decoration: none;}
.footer .links {float: right;}.footer .links ul {overflow: hidden;}
.footer .links ul li {list-style: none;float: left;padding-right: 40px;}
.footer .links ul .last {padding-right: 0;}
.footer .links ul li a:hover {color: #6b6b6b;}
.footer, .footer .footer-content, .footer .footer-content .copyright, .footer .footer-content .links {height: 90px;}/* layout/layout.phtml main */
.byb-qrcode-layer {position: absolute;right: -37px;top: 0px;background: url("http://s.pc.qq.com/byb/rqWgO4PMjoVj7vmkMdPFoxegWs2dDVWc9vgg9mp-49wdzZrM7nrK-hiU-Az9Facs.png") no-repeat;width: 33px;height: 96px;z-index: 50;cursor: pointer;}
.byb-qrcode-layer-show {position: absolute;right: 0px;top: 0px;background: url("http://s.pc.qq.com/byb/VijENUI07jJOmJ7TmFO0WQDpvPk2FfjlkU9y79cKfNyf2eYz5nmeAMbhfrrsTnxN.png") no-repeat;width: 260px;height: 285px;z-index: 50;display: none;}
.main {padding-top: 10px;}
.main .main-content {*zoom: 1;position: relative;overflow: visible;background-color:#fff;}
.main .main-content, .main .main-content .menu{height: 100%;}
.main .main-content:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.main .main-content .menu, .main .main-content .content, .main .main-content .content-right {float: left;}
.main .main-content .content-right{position: absolute;right: 0;}
.main .main-content .menu, .main .main-content .content {min-height: 800px}
.main .main-content .menu {width: 200px;background-color: #3e424c;border-top-left-radius: 3px;border-bottom-left-radius: 3px;padding-top: 10px;}
.main .main-content .content {width: 990px;background-color: #FFF;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.main .main-content .menu .menu-item {clear: both;}
.main .main-content .menu .menu-item-sep {margin-top: 10px;text-align: right;padding-left: 20px;}
.main .main-content .menu .menu-item-sep .sep {border-top: 1px solid #52555e;width: 180px;}
.main .main-content .menu .menu-item .menu-part {color: #9c9c9c;font-size: 16px;position: relative;padding: 24px 0 20px 65px;/*margin: 10px 0;*/}
.main .main-content .menu .menu-item .menu-part .icon {position: absolute;width: 19px;height: 19px;/*background-image: url("../images/menu-icon.png");*/background-image: url("http://s.pc.qq.com/byb/4lT_Kp6UMkIbOdGSIKassgFtjG7JCRje.png");left: 35px;top: 25px;left: 35px;z-index: 1;}
.main .main-content .menu .menu-item .menu-part .home-lib {background-position: 0 0;}
.main .main-content .menu .menu-item .menu-part .base-lib {background-position: 0 -41px;}
.main .main-content .menu .menu-item .menu-part .knowledge {background-position: 0 -61px;}
.main .main-content .menu .menu-item .menu-part .team {background-position: 0 -81px;}
.main .main-content .menu .menu-item .menu-options {}
.main .main-content .menu .menu-item .menu-options ul {}
.main .main-content .menu .menu-item .menu-options ul li {list-style: none;}
.main .main-content .menu .menu-item .menu-options ul li, .main .main-content .menu .menu-item .menu-options ul li a {height: 46px;line-height: 46px;}
.main .main-content .menu .menu-item .menu-options ul li a {display: block;height: 100%;padding-left: 63px;text-decoration: none;color: #FFF;outline: none;}
.main .main-content .menu .menu-item .menu-options ul li a:hover, .main .main-content .menu .menu-item .menu-options ul li .active {background: url("../images/menu-active-bg.png") 0 0 no-repeat;}
.main .main-content .menu .menu-item .menu-index ul {position: absolute;left: 0;top: 0;width: 200px;}
.main .main-content .menu .menu-item .menu-index ul li a {/*color: #9c9c9c;*/color: #FFF;font-size: 16px;}
.main .main-content .menu .menu-item .menu-index ul li .active {color: #FFF;}
.main .main-content .menu .menu-item .menu-index .icon {top: 13px;}{color:#9c9c9c;font-size:16px;}/* login/index.phtml */
.loginbox {float: none;margin: auto;margin-top: 5%;width: 50%;}
.loginbox .logo {background: url("http://s.pc.qq.com/byb/uvmfXEwYySDbt3Di7lYzgRSN_JwW6utGk_nRdpoUTHlxfuDL7LuT0tT616hGecRH.png") no-repeat;width: 350px;height: 309px;margin: auto;}
.login-form {width: 460px;margin: auto;}
.login-form .form-input {padding-left: 6px;width: 100%;height: 62px;border: solid 1px #d5d8dc;background: #FFF;border-radius: 5px;position: relative;margin-top: 28px;}
.login-form .login-button-box {line-height: 62px;border: none;border: 0;background: transparent;padding:0;}
.login-form .login-button-box:hover {}
.login-form .login-button-box a {width: 223px;text-align: center;border-radius: 5px;}
.login-form .login-button-box .login-button {float: left;font-size: 20px;color: #FFF;text-decoration: none;background-color: #4c99f2;}
.login-form .login-button-box .signup-button{float: right;font-size: 20px;color: #9c9c9c;text-decoration: none;border: solid 1px #9c9c9c;margin-left: 13px;width: 221px;line-height: 60px;}
.login-form .login-button-box .signup-button {}
.login-form .form-input .icon {background: url("../images/login_input_icon.png") no-repeat;top: 19px;left: 25px;position: absolute;width: 24px;}
.login-form .form-input .icon-phone {height: 24px;}
.login-form .form-input .icon-security {background-position: 0 -25px;height: 18px;}
.login-form .form-input .security-code {color: #FFF;background-color: #4c99f2;width: 140px;height: 38px;line-height: 38px;position: absolute;right: 11px;top: 11px;border-radius: 3px;text-align: center;font-size: 14px;cursor: pointer;}
.login-form .form-input .security-code:hover {background-color: #61a7f8;}
.login-form .form-input .disable, .login-form .form-input .disable:hover {background-color: #b2b2b2;cursor: default;}
.login-form .form-input .input {padding: 20px 0 14px 63px;width: 300px;border: none;border: 0;font-size: 18px;}
.login-form .form-input .input::-webkit-input-placeholder {/* WebKit browsers */color: #8ba0b9;font-size: 18px;}
.login-form .form-input .input:-moz-placeholder {/* Mozilla Firefox 4 to 18 */color: #8ba0b9;}
.login-form .form-input .input::-moz-placeholder {/* Mozilla Firefox 19+ */color: #8ba0b9;}
.login-form .form-input .input:-ms-input-placeholder {/* Internet Explorer 10+ */color: #8ba0b9;}/* dashboard/index.phtml */
.dashboardi {}.dashboardi .imgbox {width: 100%;text-align: center;padding-top: 60px;}
.dashboardi .imgbox img {margin: 0 auto;}
.dashboardi .notice {padding-top: 40px;color: #0d0e10;font-size: 20px;text-align: center;}
.dashboardi .buttonbox, .authorizer-buttonbox {padding: 30px 0 148px 0;}
.dashboardi .buttonbox a {display: block;height: 54px;line-height: 54px;width: 176px;color: #FFF;background-color: #428bef;border-radius: 5px;text-align: center;font-size: 18px;margin: 0 auto;}
.dashboardi .authorizer-buttonbox a {display: block;height: 54px;line-height: 54px;width: 176px;color: #FFF;background-color: #37b91b;border-radius: 5px;text-align: center;font-size: 18px;margin: 0 auto;}/* doctor/register.phtml */
.doc-register {width: 950px;margin: 0 auto;}
.doc-register .title {font-size: 18px;position: relative;padding-left: 21px;padding-top: 82px;border-bottom: solid 1px #d2d2d2;padding-bottom: 13px;}
.doc-register .title .poin {width: 8px;height: 22px;background-color: #428bef;position: absolute;left: 0;}
.doc-register .form .first {margin-top: 53px;}
.doc-register .form .last {margin-bottom: 76px;}
.doc-register .form .item {margin-top: 26px;}
.doc-register .form .item .label, .doc-register .form .item .inputbox, .doc-register .form .item .get-code {float: left;}
.doc-register .form .item .label {line-height: 37px;height: 37px;width: 108px;text-align: left;}
.doc-register .form .item .label span {color: #c00024;}
.label {margin: 0;padding: 0;}
.doc-register .form .item .label label {color: #343434;padding: 0;margin: 0;font-weight: 400;}
.doc-register .form .item .inputbox {border: solid 1px #CCC;height: 35px;line-height: 35px;width: 293px;}
.doc-register .form .item .inputbox input::-webkit-input-placeholder {color: #A5A5A5;}
.doc-register .form .item .inputbox input:-ms-input-placeholder{color: #A5A5A5;}
.doc-register .form .item .inputbox input:-moz-placeholder {color: #A5A5A5;}
.doc-register .form .item .inputbox input::-moz-placeholder {color: #A5A5A5;}
.doc-register .form .item  .codeinput{width: 228px; border-right: 0;border-right: none;}
.doc-register .form .item .get-code {text-align: center;line-height: 35px;height: 35px;background-color: #428bef;color: #FFF;width: 66px;cursor: pointer;}
.doc-register .form .item .get-code.disable{background-color: #CCC;}
.doc-register .form .item .inputbox .input {width: 100%;background: transparent;padding: 0 5px;height: 35px;line-height: 35px;}
.doc-register .form {padding-left: 21px;padding-bottom: 94px;}
.doc-register .button {width: 176px;margin: 0 auto;}
.doc-register .button a {display: block;width: 100%;height: 54px;line-height: 54px;color: #FFF;margin: 43px auto;}
.doc-register .foot {border-bottom: solid 1px #d2d2d2;}/* knowledge */
.knowledge {overflow: hidden;width: 100%;}
.knowledge .header {overflow: hidden;}
.knowledge .header .order-box {float: left;padding-top: 28px;}
.knowledge .header .order-box div {color: #969696;height: 35px;line-height: 35px;padding: 0 20px 0 25px;}
.knowledge .header .order-box div, .knowledge .header .order-box ul {float: left;}
.knowledge .header .order-box ul {overflow: hidden;}
.knowledge .header .order-box ul li {float: left;list-style: none;height: 35px;line-height: 35px;width: 100px;/*background-image: url("../images/order-tag-bg.png");*/background-image: url("http://s.pc.qq.com/byb/_ntXKWGlghF1cA6vw-M_xyhc2F307wOt.png");text-align: center;}
.knowledge .header .order-box ul .left {}
.knowledge .header .order-box ul .active {background-image: url("http://s.pc.qq.com/byb/LUq_44JTfHprvD07cyHSvpPuRohcX2NG.png");/*background-image: url("../images/order-tag-bg-active.png");*/}
.knowledge .header .order-box ul .active a {color: #FFF;}
.knowledge .header .order-box ul .middle {width: 102px;background-position: -100px 0;}
.knowledge .header .order-box ul .right {background-position: -202px 0;}
.knowledge .header .order-box ul li a {color: #969696;}
.knowledge .header .new {float: right;padding: 25px 28px 0 0;}
.knowledge .header .new a {background: url("../images/new-knowledge.png") no-repeat;display: block;height: 38px;width: 124px;}
.knowledge .item-line {border-top: solid 1px #ebebeb;margin: 30px 44px 30px 26px;}
.knowledge .item {overflow: hidden;padding: 30px 0 0 26px;}
.knowledge .knowledge-list-line {border-top: solid 1px #ebebeb;}
.knowledge .item .item-right {padding-left: 32px;width: 750px;}
.knowledge .item .thumb, .knowledge .item .thumb a img {width: 134px;height: 134px;}
.knowledge .item .thumb a {cursor: default;}
.knowledge .item .thumb, .knowledge .item .item-right {float: left;}
.knowledge .item .item-right .title {overflow: hidden;}
.knowledge .item .item-right .title .titlebox, .knowledge .item .item-right .title ul {float: left;}
.knowledge .item .item-right .title .titlebox {position: relative;padding: 0 0 0 72px;width: 530px;*width: 505px;max-width: 550px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.knowledge .item .item-right .title .titlebox a {color: #0d0e10;font-size: 20px;}
.knowledge .item .item-right .title .titlebox .top-tag {width: 50px;height: 20px;background-color: #58d20f;border-radius: 3px;color: #FFF;font-size: 14px;text-align: center;position: absolute;left: 0;top: 5px;}
.knowledge .item .item-right .title ul {float: right;padding-top: 4px;}
.knowledge .item .item-right .title ul li {float: left;list-style: none;margin-right: 24px;}
.knowledge .item .item-right .title ul li a {color: #0d0e10;}
.knowledge .item .item-right .title ul .last {margin-right: 10px;}
.knowledge .item .item-right .summary {color: #969696;padding: 3px 0 3px 0;line-height: 22px;height: 66px;}
.knowledge .item .item-right .author ul {overflow: hidden;}
.knowledge .item .item-right .author ul li {float: left;list-style: none;color: #969696;margin-right: 13px;}
.knowledge .item .item-right .author ul .last {margin-right: 0;}
.knowledge-save {padding-bottom: 30px;}
.knowledge-save .savetitle {font-size: 18px;color: #0d0e10;height: 50px;line-height: 50px;background-color: #fafafa;border-top-left-radius: 3px;border-top-right-radius: 3px;padding-left: 30px;}
.knowledge-save .form {width: 90%;margin: 0 auto;}
.knowledge-save .form .form-item {margin-top: 30px;}
.knowledge-save .form .form-item p {height: 30px;line-height: 30px;font-weight: lighter;}
.knowledge-save .form .form-item p label {font-size: 16px;color: #333333;}
.knowledge-save .form .form-item p label span {padding-right: 5px;color: #FF0000;}
.knowledge-save .form .form-item p .label-helper {color: #969696;padding-left: 5px;}
.knowledge-save .form .form-item .uploadimg {padding: 20px 0 10px 0;}
.knowledge-save .form .form-item .form-input {width: 100%;height: 30px;border: solid 1px #cccccc;}
.knowledge-save .form .form-item .button {background-color: #428bef;border: none;border: 0;color: #FFF;text-decoration: none;}
.knowledge-save .form .form-item .button:hover {}
.knowledge-save .form .form-item .button, .knowledge-save .form .form-item .previce {text-align: center;display: block;width: 129px;line-height: 40px;height: 40px;border-radius: 3px;float: left;font-size: 16px;}
.knowledge-save .form .form-item .previce {margin-left: 20px;border: solid 1px #cccccc;color: #838383;background-color: #FFF;}
.knowledge-save .form .form-item .img_preview{}.knowledge-save .form .form-item .img_preview .big, .knowledge-save .form .form-item .img_preview .small {float: left;} 
.knowledge-save .form .form-item .img_preview .big img{height: 62px;width: 110px;}
.knowledge-save .form .form-item .img_preview .small {margin-left: 20px;}
.knowledge-save .form .form-item .img_preview .small img {height: 62px;width: 62px;}
.mark-layer {background: rgba(0, 0, 0, 0.2);position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 50;display: none;z-index: 9999;}
.mark-layer .qrcode-box {background-image: url("../images/mark_qrcode.png");width: 646px;height: 476px;position: absolute;left: 50%;top: 50%;margin-left: -323px;margin-top: -238px;position: relative;display: none;}
.mark-layer .qrcode-box .font1 {height: 48px;line-height: 48px;font-size: 18px;padding-left: 20px;position: absolute;}
.mark-layer .qrcode-box .font2 {height: 48px;line-height: 48px;position: absolute;top: 350px;color: #9d9d9d;font-size: 16px;width: 646px;text-align: center;}
.mark-layer .qrcode-box .clo {/*background: #000;*/height: 30px;width: 30px;position: absolute;right: 10px;top: 10px;cursor: pointer;}
.mark-layer .qrcode-box img {width: 251px;height: 251px;position: absolute;left: 50%;margin-left: -125px;margin-top: 90px;}.mypage {width: 100%;height: auto;overflow: hidden;padding-bottom: 300px;}
.mypage .page-type {padding: 31px 0 0 31px;}
.mypage .page-type span {color: #0d0e10;font-size: 18px;}
.mypage .page-type-choise {padding-left: 295px;padding-top: 212px;}
.mypage .page-type-choise a {display: block;width: 356px;height: 114px;line-height: 114px;text-align: center;background: url("http://s.pc.qq.com/byb/S2di6qfRH2D8x9h5OtsBCL_KuBTIBMp9.png") no-repeat;}
.mypage .page-type-choise .first {background-position: 0 0;}
.mypage .page-type-choise .last {margin-top: 50px;background-position: 0 -114px;}
.mypage .item-qrcode {padding-top: 15%;}
.mypage .item-qrcode .qrcode {}
.mypage .item-qrcode .qrcode .img {text-align: center;height: 251px;}
.mypage .item-qrcode .qrcode .img img {width: 251px;height: 251px;}
.mypage .item-qrcode .scan {font-size: 20px;color: #0d0e10;text-align: center;padding: 10px 0px;}
.mypage .item-qrcode .editbox {}
.mypage .item-qrcode .editbox a {display: block;margin: 0 auto;width: 176px;height: 54px;line-height: 54px;color: #FFF;}/* doctor-team/register.phtml */
.team-register {padding-bottom: 230px;}
.team-register .nav {background: url("http://s.pc.qq.com/byb/3YW_rzvpbwYNG0sidEDWHoIs8Xu1dmeK.png") no-repeat;height: 49px;}
.team-register .nav ul {overflow: hidden;list-style: none;}
.team-register .nav ul li {float: left;width: 378px;text-align: center;height: 49px;line-height: 49px;font-size: 16px;color: #000;}
.team-register .nav ul .active {color: #FFF;}
.team-register .form-input {width: 638px;margin: 0 auto;margin-top: 290px;height: 50px;}
.team-register .form-input .input {width: 532px;border: solid 1px #CCC;border-radius: 3px;float: left;}
.team-register .form-input .flabel, .team-register .form-input .input {height: 30px;line-height: 30px;}
.team-register .form-input .flabel {font-size: 16px;color: #0d0e10;float: left;padding-right: 27px;}
.team-register .form-input .input input {width: 100%;height: 100%;padding: 0 3px;color: #000;}
.team-register .next-step {margin: 130px 0 0 0;}
.team-register .next-step a {width: 176px;height: 54px;line-height: 54px;display: block;text-align: center;color: #FFF;font-size: 16px;background-color: #428bef;border-radius: 5px;margin: 0 auto;}
.team-register .qrcode {margin: 0 auto;margin-top: 183px;}
.team-register .qrcode, .team-register .qrcode img {width: 251px;height: 251px;}
.team-register .qrcode-summary {padding-top: 36px;color: #000;font-size: 20px;color: #0d0e10;text-align: center;}
.team-register .do-invite {text-align: center;line-height: 53px;}
.team-register .do-invite a {color: #0d0e10;}
.team-register .newitem-success-icon {margin: 0 auto;margin-top: 83px;}
.team-register .newitem-success-icon, .team-register .newitem-success-icon img {width: 340px;height: 330px;}
.team-register .success-summary p {text-align: center;}
.team-register .success-summary .con {color: #0d0e10;font-size: 20px;padding-top: 36px;}
.team-register .success-summary .con-help {color: #9c9c9c;}/* dashboard/index.phtml */
.dashboard-index {width: 100%;overflow: hidden;height: 100%;padding-bottom: 50px;}
.dashboard-index .item {width: 888px;height: 168px;border: solid 1px #eeeeee;border-radius: 10px;margin: 20px auto;cursor: pointer;}
.dashboard-index .item:hover {border: solid 1px #428bef;}
.dashboard-index .item .icon {float: left;width: 158px;padding-left: 40px;padding-top: 25px;}
.dashboard-index .item .icon .img {width: 116px;height: 118px;}
.dashboard-index .item .icon .img1 {background: url("http://s.pc.qq.com/byb/uHuNbmW2l7SPhSFXmfxuOCv2PHTC135s.png") no-repeat;}
.dashboard-index .item .icon .img2 {background: url("http://s.pc.qq.com/byb/ZnzCbRrUCfPyhdpI3Z9KbS6GxLIS0hrM.png") no-repeat;}
.dashboard-index .item .icon .img3 {background: url("http://s.pc.qq.com/byb/2nOtJ2_3xLODhQDKwiUCWqWrJkyn8pwS.png") no-repeat;}
.dashboard-index .item .intro {float: left;padding: 62px 0 0 35px;width: 592px;}
.dashboard-index .item .intro .title {color: #0d0e10;font-size: 18px;}
.dashboard-index .item .intro .summary {color: #9c9c9c;line-height: 40px;}
.dashboard-index .item .radius {float: left;padding-top: 68px;}
.dashboard-index .item .radius .impl {width: 32px;height: 32px;background: url("http://s.pc.qq.com/byb/RhPX7C0PlOt_4h_RTF_pkri_WfLPqnS0.png") no-repeat;background-position: 0 -32px;}
.dashboard-index .item-hover  .radius .impl {background: url("http://s.pc.qq.com/byb/RhPX7C0PlOt_4h_RTF_pkri_WfLPqnS0.png") no-repeat;background-position: 0 0;}
/* 后台首页 arvintian 20160509 */
.yr{}
.yr h2{ padding-top:70px; font-size:24px; text-align:center; line-height:50px; font-weight:normal;}
.yr p{ color:#969696; text-align:center;}
.yr a{ color:#428bef;}
.yr a:hover{ text-decoration:underline;}
.yr ul{ padding:80px 0 0 120px;}
.yr li a{ font-size:20px;}
.yr li p{ font-size:16px; text-align:left;}
.yr li{ float:left; position:relative; padding-left:130px; padding-top:30px; width:300px; height:133px; background-repeat:no-repeat; list-style:none;}
.yr .s1{ background-image:url(../images/dashboard_1.png);}
.yr .s1w{ background-image:url(../images/dashboard_1w.png);}
.yr .s2{ background-image:url(../images/dashboard_2.png);}
.yr .s2w{ background-image:url(../images/dashboard_2w.png);}
.yr .s3{ background-image:url(../images/dashboard_3.png);}
.yr .s3w{ background-image:url(../images/dashboard_3w.png);}
.yr .s4{ background-image:url(../images/dashboard_4.png);}
.yr .s4w{ background-image:url(../images/dashboard_4w.png);}
.yr .s5{ background-image:url(../images/dashboard_5.png);}
.yr .s5w{ background-image:url(../images/dashboard_5w.png);}
.yr .s6{ background-image:url(../images/dashboard_6.png);}
.yr .s6w{ background-image:url(../images/dashboard_6w.png);}
.yr .s1w a,.yr .s2w a,.yr .s3w a,.yr .s4w a,.yr .s5w a,.yr .s6w a{ color:#78bf6a;}
.yr .s1w span,.yr .s2w span,.yr .s3w span,.yr .s4w span,.yr .s5w span,.yr .s6w span{ position:absolute; top:50px; left:280px; display:block; width:24px; height:18px; background:url(../images/dashboard_icon.png) no-repeat;}

/* 微信公众号 arvintian */
.yr_wxgzh{}
.nav-head{ font-size: 18px; color: #000; line-height: 59px; border-bottom: 1px #ebebeb solid; padding-left: 30px;}
.edit-tips{ color: #969696; line-height: 60px; padding-left: 30px;}
.yr_wxgzh p{ padding-bottom:15px;}
.yr_wxgzh .red{ color:#F00;}
.yr_wxgzh-box{ padding:0 30px;}
.yr_wxgzh-table1,
.yr_wxgzh-table2{ width:100%;}
.yr_wxgzh-table1{}
.yr_wxgzh-table1 th{ text-align:right; font-weight:normal;}
.yr_wxgzh-table1 td{ height:40px;}
.yr_wxgzh-table2,
.yr_wxgzh-table2 td{ border-collapse:collapse;}
.yr_wxgzh-table2 td{ height:40px; border-width:1px 0; border-style:double; border-color:#ebebeb;}

/* 编辑器 arvintian 20160603 */
.knowledge-save .form { position:relative;}
.knowledge-save .form .yr_form-item { position:absolute; top:65px; margin:0; width:100%; z-index:1000;}
.knowledge-save .form .yr_form-item input{ padding-left:8px;}
.knowledge-save .form .form-item .yr-input { width: 100%; color:#969696;}
.knowledge-save .form .form-item .yr-input2 { height: 70px; font-size:20px;}
.knowledge-save .form .form-item .yr-input3 { height: 55px;	font-size:14px; border-bottom: solid 1px #dbdbdb;}

/* 我的团队 - rayoyang 20160526 */
.myteam-spr { display: block; background: url("../images/team-spr.png") no-repeat; text-indent: -9999px; overflow: hidden;}
.myteam-block { width: 990px; height: 810px; position: relative;}
.myteam-creator { width: 244px; height: 810px; border-right: #DCDDDF solid 1px; float: left;}
.myteam-item { width: 745px; height: 810px; padding-left: 245px; position: absolute; left: 0; top: 0;}
.myteam-tools { width: 705px; height: 48px; line-height: 48px; border-bottom: #DCDDDF solid 1px; padding: 0 20px; text-align: right; position: absolute; background: #FFF; top: 0; right: 0; z-index: 2;}
.myteam-tools a { color: #52555e;}
.myteam-list { height: 685px; position: relative; top: 49px; right: 0; overflow-y: scroll; z-index: 1;}
.myteam-list-a { height: 734px; top: 0;}
.myteam-invite { width: 745px; height: 75px; background: #FFF; background: rgba(255,255,255,0.7); border-top: #DCDDDF solid 1px; position: absolute; right: 0; bottom: 0; z-index: 2;}
.myteam-inv-btn { width: 180px; height: 32px; line-height: 32px; background-position: -130px 0; text-indent: 60px; margin: 20px auto 0; color: #52555e;}
.myteam-list li { height: 55px; padding: 20px 0; border-bottom: #DCDDDF solid 1px; margin: 0 20px; list-style: none; position: relative; overflow: hidden;}
.myteam-list li:last-child { border-bottom: none;}
.myteam-li-func { padding: 16px 0 0 0; width: 0; overflow: hidden; float: left; transition: width 0.2s ease-in-out 0.1s;}
.myteam-li-func input { display: none;}
.myteam-lichk-nor { width: 28px; height: 28px; background-position: -145px -60px;}
.myteam-lichk-ac { width: 28px; height: 28px; background-position: -145px -32px;}
.myteam-lichk-dis { width: 28px; height: 28px; background-position: -90px 0; cursor: default;}
.myteam-li-img { display: block; width: 55px; height: 55px; margin-right: 20px; position: relative; float: left;}
.myteam-li-img em { width: 55px; height: 55px; background-position: -90px -32px; position: absolute; z-index: 2; left: 0; top: 0;}
.myteam-li-img img { display: block; width: 55px; height: 55px; position: absolute; z-index: 1; left: 0; top: 0;}
.myteam-li-name, .myteam-li-duty { display: block; margin-right: 30px; line-height: 55px; color: #52555e; float: left;}
.myteam-li-btn { display: block; width: 90px; line-height: 30px; color: #FFF; text-align: center; background: #428BEF; border-radius: 3px; position: absolute; right: 0; top: 30px; transition: right 0.1s ease-in-out 0s;}
.myteam-crt-box { width: 200px; margin: 316px auto 0; text-align: center;}
.myteam-crt-img { display: block; width: 90px; height: 90px; overflow: hidden; position: relative; margin: 0 auto 30px;}
.myteam-crt-img em { width: 90px; height: 90px; background-position: 0 0; position: absolute; z-index: 2; left: 0; top: 0;}
.myteam-crt-img img { display: block; position: absolute; z-index: 1; left: 0; top: 0;}
.myteam-crt-name { display: block; font-weight: lighter; color: #52555e; margin-bottom: 5px;}
.myteam-crt-num { display: block; color: #969696;}
.myteam-tools .color-red { color: #F00;}
#qrcode_box { width: 990px; height: 810px; *background: #000; background: rgba(0,0,0,0.7); position: absolute; left: 0; top: 0; z-index: 9;}
#qrcode_box p { width: 350px; height: 464px; margin: 170px auto 0;}
#qrcode_box img { display: block; width: 350px; height: 350px; border: 0;}
#qrcode_box span { display: block; line-height: 70px; text-align: center; color: #FFF; font-size: 14px;}
#qrcode_box a { width: 44px; height: 44px; background-position: 0 -90px; margin: 0 auto;}

/** welcome页面样式 */
.my-inline,.my-assure-trightb span,.my-article-list span {display: inline-block;}
/** 通用样式 */
.my-relative {position: relative;}
.my-absolute {position: absolute;}
.my-text-center {text-align: center;}
.my-full-wh {height: 100%;width: 100%;}
.my-default-fontsize {font-size: 14px}
.my-middle-fontsize {font-size: 16px}
.my-larger-fontsize {font-size: 18px}
.my-grey-border {border: 1px #ebebeb solid}
.my-border-box {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box}
.my-white-text {color: #ffffff}
.my-hand-cursor {cursor: pointer}
.my-assure-tleft-headicon,.my-remain-start-assure {float: left}
.my-boder-radius {-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;border-radius: 6px}
/** 智能应答/欢迎语样式 */
/** tab切换 */
.my-tab {margin: 20px 0 0 30px;color: #969696}
.my-gap {font-size: 16px;margin: 0 30px;}
.my-tab-item {font-size: 18px}
.my-tab-item p {font-size: 16px;cursor: pointer;margin-bottom: 16px;}
.my-tab-active {color: #659cf0;border-bottom: 3px #659cf0 solid}
/** 停用/开启的button和提示窗口样式 */
.my-info-bg {background-color: #ececec;line-height: 46px;height: 46px;padding-left: 30px}
.my-start-btn,.my-publish-btn,.my-cover-btn-assure,.my-remain-start-assure {background-color: #659cf0;border:1px solid #dcdcdc;color: #ffffff;text-align: center;cursor: pointer;display: inline-block} 
.my-start-btn {width: 100px;line-height: 34px;height: 34px;margin:6px 30px 6px 0;float: right}
.my-stop-btn {background-color: #f1f1f1;color: #000000;/*cursor: default;*/}
.my-publish-btn {width: 100px;line-height: 34px;height: 34px}
.my-remain-start p:before {width: 0;height: 0;border: 6px solid transparent;border-bottom: 10px #ffffff solid;position: absolute;top: -14px;left: 49%;content: ''}
.my-remain-start {width: 204px;padding: 20px;border: 1px #dddddd solid;-webkit-box-shadow:2px 2px 2px #dddddd;-moz-box-shadow:2px 2px 2px #dddddd;-o-box-shadow:2px 2px 2px #dddddd;box-shadow:2px 2px 2px #dddddd;position: absolute;right:-40px;background: #ffffff;z-index: 500;}
.my-remain-start-btn {width: 90px;height: 32px;line-height: 32px;margin-top: 20px;text-align: center;}
.my-remain-start-cancel,
.my-cover-btn-cancel {border: 1px #9c9c9c solid;color: #9c9c9c;cursor: pointer;float: right;}
/** 未开启前的微信预览 */
.my-imgwrap {height: 600px;width: 100%;}
.my-imgwrap img {position: relative;height: 80%;padding-top: 10%;margin-right: -14%;}
.my-preview {padding-top: 10px;}
.my-preview p {font-size: 16px;color: #9c9c9c;}
/** 点击启用后的左右布局 */
.my-assure-top {height: 538px;width: 100%;padding: 46px 0;border-bottom: 1px #ebebeb solid;}
.my-assure-tleft {height: 100%;width: 30%;margin-left:4%;border-bottom: 1px #ebebeb solid;border-top: 1px #ebebeb solid;float:left;background: url(../images/welcome1.png) no-repeat;background-size: 100% 100%;}
.my-assure-tleft-headicon {width: 36px;height: 36px;top: 88px;left: 14px;}
.my-assure-tleft-welcome {top: 88px;margin-left: 60px;width: 206px;background:url(../images/dialog.png) no-repeat;background-size: 100% 100%;}
.my-assure-tleft-welcome p {padding:10px 10px 10px 18px;word-wrap: break-word;word-break: break-all;}
.my-assure-tright {height: 100%;width: 57%;margin-left: 40px;border: 1px #ebebeb solid;position: relative;} 
.my-assure-trightt {height: 92.2%;border-bottom: 1px #ebebeb solid;} 
.my-assure-trightt textarea{display: block;padding: 22px;font-family: "微软雅黑";} 
.my-assure-trightt p{position: absolute;bottom: 11%;right: 22px;color: #428bef;cursor: pointer;}
.my-assure-trightb {padding: 0 22px;line-height: 40px;}
.my-assure-trightb-des {position:absolute;right:22px;color: #969696;}
.my-assure-bottom {height: 24px;position: absolute;margin-top: 20px;text-align: center;width: 990px;}
.my-pub-wrapper {position:absolute;width:100%;}
.my-sucs-pub-info {width: 364px;height: 60px;background-color: #58d20f;line-height: 60px;margin: 0 auto;color: #ffffff;}
.my-assure-trightb img,.my-sucs-pub-info img,.my-cover-contenttr img,.my-oprt-contentt img,.my-cover-contentc img,.my-article-wrapper img {vertical-align: middle;}
/** 点击发布后的遮罩层和提示 */
.my-cover-bg {background: rgba(0,0,0,0.5);position: fixed;top: 0;width: 100%;height: 100%;z-index: 1000;}
.my-cover-content {width: 492px;height: 296px;margin-top: -148px;margin-left: -246px;position: absolute;top: 50%;left: 50%;background-color: #ffffff;}
.my-cover-contentt {width: 100%;height: 50px;background-color: #f6f6f6;line-height: 50px;padding: 0 24px;}
.my-cover-contenttr {right: 24px;cursor: pointer;}
.my-cover-contentc {height: 174px;/*line-height: 174px;*/padding: 0 44px;display:table; }
.my-cover-contentc span {display: table-cell;vertical-align: middle;}
.my-cover-contentc div {padding-top: 54px;padding-right: 14px;}
.my-cover-btn-assure,.my-cover-btn-cancel {width: 130px;height: 40px;line-height: 40px;font-size: 16px;display: inline-block;}
.my-cover-contentb {width:288px;margin:0 auto;}
/** 智能应答无文章 */
#with_articles .my-assure-top {border-color:#dfdfdf;overflow-y: scroll;}
.my-noessay-wapper {display:table;height:640px;width:100%;}
.my-noessay-inner {display:table-cell;vertical-align: middle;}
.my-noessay-wapper p {margin-bottom:32px;}
/** 智能应答有文章，文章列表的样式*/
.my-article-wrapper {padding-left: 30px;margin-top: -26px;}
.my-config-all {border-bottom: 1px #edeeef solid;padding-bottom: 6px;margin-right: 24px;}
.my-list-config,.my-config-all a {color: #428bef;}
.my-config-all span {padding-left: 16px;}
.my-article-list {list-style: none;margin-right: 20px;padding: 20px 0px;border-bottom: 1px #edeeef solid;box-sizing: content-box;}
.my-article-list img {padding-right: 24px;}
.my-article-list .my-list-desc {position:relative;top:-12px;}
.my-list-desc .my-date {color: #9c9c9c;position:absolute;padding-top: 6px;}
.my-list-config {float: right;line-height:54px;cursor: pointer;}
#article_pagination {float: right;padding: 4px 36px 0px 0px;}
/** 点击左边导航栏后功能关闭的遮罩层样式*/
.my-oprt-wrapper {position: fixed;top: 50%;left: 50%;margin-top: -115px;margin-left: -245px;width: 490px;height: 230px;/*margin: 0 auto;*/background-color: #fff;z-index: 1001;}
.my-oprt-info {height: 180px;display: table;width: 100%;}
#oprt_close {float: right;background: url(../images/close.png) no-repeat;width: 18px;height: 18px;background-size:100% 100%;margin-top: 16px;overflow: hidden;}
#oprt_close a {text-indent: -9999em;}
.my-oprt-info p {display: table-cell;vertical-align: middle;padding: 24px;width: 100%;font-size: 16px;}
/**
 * 找回密码
 */
.my-pwd {width: 520px;height: 430px;background: #fff;margin: 24px auto 42px auto;padding: 34px 40px;font-family: "微软雅黑";}
.my-pwd div,.my-pwd h4,.my-pwd label {font-size: 16px;}
.my-pwd,.my-pwd div {box-sizing: border-box;}
.my-pwd hr {background-color: #efefef;border: 0;height: 1px;}
.my-pwd input {height: 32px;width: 298px;border: 1px #f0f0f0 solid;padding-left: 12px;padding-right: 12px;}
.my-pwd span {color: #c00124;padding-right: 4px;}
.my-pwd .title {border-left: 8px #428bef solid;margin-bottom: 26px;}
.my-pwd .title h4 {padding-left: 10px;font-size: 16px;}
.my-pwd .phone,.my-pwd .newpwd {padding: 26px 0 10px 0;}
.my-pwd .msgnum, .my-pwd .checknum,.my-pwd .againpwd {padding-bottom: 10px;}
.my-pwd .msgnum input {width: 234px;}
.my-pwd .checknum input {width: 172px;}
.my-pwd .againpwd input {margin-left: 112px;}
.my-pwd .msgnum .getnum,.my-pwd .checknum .picnum {float: right;height: 36px;width: 68px;line-height: 36px;text-align: center;background-color: #999999;padding: 0;}
.my-pwd .checknum .picnum {width: 120px;}
.my-pwd .assurebtn {background-color: #428bef;width: 112px;height: 40px;margin-left: 112px;box-sizing: content-box;line-height: 40px;text-align: center;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px}
.my-pwd .describle {width: 112px;float: left;vertical-align: middle;height: 38px;line-height: 38px;}
.my-pwd .assurebtn a,.my-pwd .msgnum .getnum a,.my-pwd .picnum a{display: block;text-decoration: none;color:#ffffff;width: 100%;height: 100%;}
.my-pwd .error {color: #ee4444;font-size: 12px;margin-left: 112px;padding-top: 2px;height: 16px;}
.my-pwd .sucset {background: url(../images/setpwd-sucs.png) no-repeat;display: inline-block;width: 56px;height: 56px;margin-right:20px;vertical-align:top;} 
.my-pwd .suc-wrp {text-align: center;}
.my-pwd .suc-wrp div {padding-top: 110px;}
.my-pwd .clr-float:after {content:" "; display:block; height:0; visibility:hidden; clear:both;}
.my-pwd .clr-float {*zoom:1;}
.my-pwd .clr-float p {display:inline-block;margin: 0;line-height:56px;vertical-align:top;}