.nav-head {
	font-size: 18px;
	color: #000;
	line-height: 59px;
	border-bottom: 1px #ebebeb solid;
	padding-left: 30px;
}

.edit-tips {
	color: #969696;
	line-height: 60px;
	padding-left: 30px;
}

.menu-editor .mpname {
	position: absolute;
	top:30px;
	left:35px;
	width: 280px;
	text-align: center;
}

.menu-editor .mpname span {
	font-size: 16px;
	color: #FFF;
}

.menu-editor .sort-button-box {
	position: absolute;
	top: 640px;
	width: 350px;
	height: 40px;
}

.menu-editor .sort-button-box a {
	color: #838383;
    border-radius: 5px;
    width: 130px;
    line-height: 38px;
    border: 1px solid #ccc;
    background: #fff;
	text-align: center;
	text-decoration: none;
	margin: auto;
	display: none;
}

.menu-editor {
	/* 302 */
	width: 350px;
	height: 700px;
	float: left;
	float: left;
	margin-left: 30px;
	background: url(../images/menu-phone-bg.png) no-repeat;
	position: relative;
	margin-left: 30px; 
	background : url(../images/menu-phone-bg.png) no-repeat;
	position: relative;
}

#menu-box {
	position: absolute;
	right: -1px;
	height: 48px;
	top: 575px;
	width: 302px;
	text-align: center;
	cursor: pointer;
	width: 302px;
	text-align: center;
	cursor: pointer;
}

.main-menu {
	display: inline-block;
	position: relative;
	float: left;
	line-height: 48px;
	height: 48px;
	width: 50%;
	border: 1px solid #ebebeb;
}

.main-menu+.main-menu {
	border-left: none;
}

#menu-box[num="2"] .main-menu, #menu-box[num="3"] .main-menu {
	width: 33.3%;
}

.main-menu-item {
	height: 100%;
}

.main-menu-item, .sub-menu-item {
	overflow: hidden;
}

.sub-menu {
	display: none;
	width: 100%;
	position: absolute;
	bottom: 60px;
	right: 0;
}

.sub-menu:after {
	content: '';
	background: url(../images/menu-corner.png) center 0 no-repeat;
	position: absolute;
	bottom: -7px;
	right: 0;
	height: 8px;
	width: 100%;
}

.sub-menu-item {
	height: 48px;
	line-height: 48px;
	background: #fafafa;
	border: 1px solid #ebebeb;
}

.sub-menu-item+.sub-menu-item {
	border-top: none;
}

.main-menu-item.add, .sub-menu-item.add {
	background: url(../images/menu-add.png) center center no-repeat;
	font-size: 0;
}

#menu-box .main-menu-item.active, .sub-menu-item.active {
	border: 1px solid #428bef;
	color: #428bef;
}

.sub-menu-item.active:last-child {
	margin-bottom: 1px;
}

.menu-form {
	position: relative;
	margin-left: 400px;
	background: #fafafa;
	width: 542px;
	padding: 0 30px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	color: #000;
	padding-bottom: 50px;
	display: none;
}

.menu-form .line {
	margin-top: 30px;
}

.menu-form .form-label {
	display: inline-block;
	width: 69px;
}

.menu-form .form-tips {
	color: #9c9c9c;
	margin-right: 15px;
}

.menu-form .form-tips label {
	cursor: pointer;
}

.menu-form .form-tips input {
	width: auto;
	height: auto;
	border: none;
}

.menu-form .def-input {
	width: 405px;
	line-height: 35px;
	height: 35px;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 0 16px;
}

.menu-form textarea {
	width: 405px;
	height: 80px;
	line-height: 35px;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 0 16px;
}

.menu-form .art_sub {
	height: 30px;
	overflow: hidden;
}

.menu-form .art_sub ul li {
	display: block;
	float: left;
	background: #fafafa;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ebebeb;
	cursor: pointer;
}

.menu-form .art_sub ul li.set {
	background: #FFF;
}

.menu-form .art_list {
	max-height: 240px;
	overflow: auto;
	background: #FFF;
	border: 1px solid #ebebeb;
	position: relative;
	z-index: 99;
	margin-top: -1px;
	border-top: none;
}

.menu-form .art_list ul li {
	display: block;
	float: left;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	width: 100%;
	padding-left: 2em;
	color: #999;
	border: 1px solid #FFF;
	border-bottom: 1px solid #ebebeb;
	cursor: pointer;
}

.menu-form .art_list ul li:hover {
	background: #fafafa;
}

.menu-form .art_list ul li.active {
	border: 1px solid #428bef;
	color: #428bef;
}

.bottom-btns {
	margin: 0;
	text-align: center;
}

.bottom-btns a {
	color: #838383;
	margin-left: 23px;
	border-radius: 5px;
	width: 130px;
	line-height: 38px;
	border: 1px solid #ccc;
	text-align: center;
	display: inline-block;
	background: #fff;
	text-decoration: none;
	
}

.bottom-btns a.active {
	color: #fff;
	background: #428bef;
}

#del-menu-btn {
	position: absolute;
	right: 30px;
	bottom: 18px;
}

/* Add by chad */
.dialog_ten {
	background-color: #FFF;
	position: absolute;
	z-index: 9999;
	top: 0;
}

.dialog_ten, .dialog_ten .dialog {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.dialog_ten .dialog .dialog_title {
	height: 48px;
	line-height: 48px;
	width: 100%;
	background: #f6f6f6;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
}

.dialog_ten .dialog .dialog_title h3 {
	color: #0d0e10;
	font-size: 18px;
	font-weight: normal;
	margin-left: 15px;
	width: 300px;
}

.dialog_ten .dialog .dialog_title .pop_closed {
	position: absolute;
	top: 16px;
	margin-top: 0;
	right: 16px;
	width: 16px;
	height: 16px;
	line-height: 48px;
	overflow: hidden;
	font-size: 0px;
}

.dialog_ten .dialog .dialog_bd {
	padding: 0;
	min-height: 100px;
	padding: 0 27px 0 27px;
}

.dialog_ten .dialog .dialog_ft {
	background-color: transparent;
	padding: 28px 0;
}

.dialog_ten .dialog .dialog_ft .btn {
	width: 129px;
	height: 40px;
	font-size: 16px;
}

.dialog_ten .dialog .dialog_ft .btn_primary {
	background-color: #428bef;
	border-color: #428bef;
	background-image: linear-gradient(to bottom, #428bef 0, #428bef 100%);
}

.dialog_ten.tarticle {
	width: 737px;
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
}

.dialog_ten.tarticle .choise-font p {
	display: none;
	color: #969696;
	font-size: 14px;
	padding: 20px 0;
	padding-left: 18px;
}

.dialog_ten.tarticle .choise-font p.selected {
	display: block;
}

.dialog_ten.tarticle .tab-panel .tab {
	display: none;
}

.dialog_ten.tarticle .tab-panel .tab .title {
	height: 44px;
	line-height: 44px;
	background-color: #f1f1f1;
}

.dialog_ten.tarticle .tab-panel .tab .title li {
	float: left;
	zoom: 1;
	color: #969696;
}

.dialog_ten.tarticle .tab-panel .tab .title li:after {
	content: "";
	clear: both;
}

.dialog_ten.tarticle .tab-panel .tab .title li.eq0 {
	padding-left: 15px;
}

.dialog_ten.tarticle .tab-panel .tab .title li.eq1 {
	padding-left: 423px;
}

.dialog_ten.tarticle .tab-panel .tab .list {
	clear: both;
}

.dialog_ten.tarticle .tab-panel .tab .list ul {
	overflow: auto;
	height: 44px;
	border-bottom: solid 1px #f1f1f1;
}

.dialog_ten.tarticle .tab-panel .tab .list ul li {
	float: left;
	height: 44px;
	line-height: 44px;
}

.dialog_ten.tarticle .tab-panel .tab .list ul li.eq0 {
	padding: 0 15px;
}

.dialog_ten.tarticle .tab-panel .tab .list ul li.eq1 {
	width: 423px;
}

.dialog_ten.tarticle .tab-panel .tab .list ul li label {
	color: #0d0e10;
	height: 44px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
}

.dialog_ten.tarticle .tab-panel .tab .list.article-list {
	height: 224px;
	*overflow: scroll;
	overflow-y: scroll;
}

.dialog_ten.tarticle .tab-control-box {
	padding-top: 20px;
}