* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif;
}
#canvas {
    float: left;
    outline: 1px solid rgb(139, 195, 74);
}
main {
    margin: 10px auto;
    width: 1200px;
    position: relative;
}
main::before,
main::after {
    content: '';
    display: table;
}
main::after {
    clear: both;
}
.show-wrap {
    float: left;
    width: 400px;
    height: 800px;
}
.god-panel,
.command-panel {
    width: 100%;
    height: 300px;
    outline: 1px solid rgb(139, 195, 74);
}

.command-console {
    width: 100%;
    height: 200px;
    outline: 1px solid rgb(139, 195, 74);
}

.show-wrap h3 {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgb(139, 195, 74);
    border-bottom: 1px solid rgb(139, 195, 74);
}

.god-message,
.command-message {
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
    height: 269px;
}

.show-wrap p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 15px;
    color: rgb(139, 195, 74);
}
p.warning {
    color: red;
}


.command-console div {
    margin-top: 15px;
}
.command-console span {
    padding-left: 25px;
    color: rgb(139, 195, 74);
    font-size: 15px;
}
.command-console input {
    margin-left: 10px;
    padding: 5px;
    background-color: #000;
    color: rgb(139, 195, 74);
    outline: 1px solid rgb(139, 195, 74);
    border: none;
}
.command-message div {
    margin-top: 30px;
    text-align: center;
}
.command-message span {
    padding-right: 30px;
    color: rgb(139, 195, 74);
    font-size: 20px;
}

.create-wrap {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    width: 500px;
    height: 300px;
    background-color: rgb(139, 195, 74);
    border: 2px solid #aaa;
    color: #fff;
}

.create-wrap h4 {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #aaa;
}
.power,
.energy{
    margin: 20px 0;
    padding-left: 40px;
}

.power input,
.energy input {
    margin-left: 40px;
}
.btns {
    text-align: center;
}
.btns input {
    padding: 5px;
    background-color: rgb(139, 195, 74);
    border: 1px solid #fff;
    color: #fff;
    word-spacing: 20px;
    margin: 0 10px;
}
