footer{
  clear: both;
  margin-left: 43px;
  hr{
    width: 892px;
    size: 1px;
    margin: 40px 0 0 0;
    overflow: hidden;
    color: $verticalline_gray;
  }
  span{
    color: $light_pink;
    float: right;
    margin: 0 48px 0 0;
  }
}
